body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: inline-block; }

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  background-color: #7477bf; }

.header h2 {
  margin: 0;
  color: white;
  line-height: 75px; }

.yourText {
  padding-left: 20px;
  font-family: 'Palanquin', sans-serif; }

.appText {
  font-family: 'Palanquin', sans-serif;
  font-weight: 100; }

.appName {
  display: flex;
  flex: auto;
  flex-shrink: .5; }

.bell {
  flex: 0;
  width: 25px;
  padding-right: 10px; }

.notify {
  display: block;
  background-color: black;
  height: 6px;
  width: 6px;
  padding: 0px;
  margin: 0px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 172px;
  top: 25px;
  font-family: 'Palanquin', sans-serif; }

.notifySpan1 {
  height: 30px;
  width: 80px;
  background-color: white;
  position: absolute;
  right: 172px;
  top: 50px;
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: slidedown;
  font-family: 'Palanquin', sans-serif;
  font-size: 10pt;
  line-height: 30px;
  text-align: center; }

@keyframes slidedown {
  from {
    top: -100px; }
  to {
    top: 50px; } }
.notifySpan2 {
  height: 30px;
  width: 80px;
  background-color: white;
  position: absolute;
  right: 172px;
  top: 85px;
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: slidedown2;
  font-family: 'Palanquin', sans-serif;
  font-size: 10pt;
  line-height: 30px;
  text-align: center; }

@keyframes slidedown2 {
  from {
    top: -100px; }
  to {
    top: 85px; } }
.userName {
  display: flex;
  flex: 0 0 content;
  align-self: flex-end;
  color: white;
  line-height: 75px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: 'Palanquin', sans-serif; }

.profilePictureDiv {
  flex: 0 0 30px;
  align-self: flex-end;
  padding-left: 10px;
  height: 30px;
  margin-bottom: 22.5px;
  border-left: 1px solid #4d4c72; }

.profilePicture {
  width: 30px;
  border-radius: 50%; }

.mainNav {
  background-color: #4d4c72;
  height: 60px;
  width: 100%; }

.mainNavUl {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px; }

.navList {
  display: flex;
  flex: 0 0 30px;
  padding-top: 15px;
  width: 30px; }

.navList img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0; }

.selected img {
  border-top: 15px ridge #7477bf;
  border-right: 10px solid #4d4c72;
  border-left: 10px solid #4d4c72;
  position: relative;
  top: -15px;
  left: -10px; }
.selected .navList {
  margin-right: 50px; }

.navButton {
  height: 100; }

.dashboard {
  width: 100%; }

.dashboardHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-content: center; }

.dashboardHeader {
  margin-top: 10px;
  display: flex;
  flex: 0 1 content; }

.dashboardTitle {
  color: gray;
  font-weight: 400;
  margin: 0;
  line-height: 41px;
  padding-left: 20px; }

.search {
  flex-grow: 0;
  flex-basis: content;
  align-self: center;
  width: 30%;
  margin-right: 20px;
  position: relative; }

input[type=search] {
  align-self: flex-end;
  border-radius: 5px;
  color: silver;
  font-family: 'Palanquin', sans-serif;
  border: 1px solid silver;
  padding: 7px 0;
  text-indent: 20px;
  width: 100%; }

.magnify {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 5px; }

.alert {
  cursor: pointer; }

.chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.chartBox {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 90%;
  margin: 15px auto; }

.socialStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%; }

.google, .twitter, .facebook {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
  max-width: 80%;
  margin: 15px auto;
  border: silver solid 1px;
  border-radius: 5px;
  padding: 10px 0 10px;
  height: 75px; }

.socialIcon {
  width: 30px;
  float: left; }

.g1 {
  margin-left: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
  background: black; }

.twitColor {
  fill: white;
  padding-top: 25px;
  padding-left: 25px; }

.faceColor {
  fill: white;
  padding-top: 9.15px;
  padding-left: 22.5px; }

.googColor {
  fill: white;
  padding-top: 22.5px;
  padding-left: 22.5px; }

.socialText {
  margin: 0;
  padding-left: 20px;
  float: left;
  font-family: 'Palanquin', sans-serif; }

.socialText span {
  font-weight: 100;
  font-size: 1.8em; }

.memberName {
  color: green; }

.memberPicture {
  border-radius: 50%; }

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  color: #ccc; }
  .slider .on {
    padding-left: 10px;
    margin: 0; }
  .slider .off {
    padding-left: 6px;
    margin: 0;
    color: white; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #2196F3; }
  input:checked + .slider .on {
    color: White; }
  input:checked + .slider .off {
    color: #2196F3; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*# sourceMappingURL=main.css.map */
